.services-container {
    width: 500px;
    margin: 0 auto;
}

.services-spinner {
    text-align: center;
}

.services-alert {
    text-align: center;
}

.services-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.services-list-item-text {
    flex-grow: 1;
}
.listed-button:nth-of-type(n+2) {
    margin-left: 5px;
}
